// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #F4F4F4;

body {
  background: $gray; // Using this variable
}


.answer {
  background-color:$gray;
  text-align: left;
}

a {
    color: grey;
    &:hover {
      color: black;
    }
  }

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.ask {
  // display: inline-block;
  text-align: center;
}